.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/


.env
*.log
*.sqlite3
*.db
/db/  # Se sua pasta 'db' contém scripts de migração e não deve ir para a imagem de runtime


.git/
.gitignore
.gitattributes
.idea/
.vscode/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*


docs/
build/
dist/


Dockerfile
docker-compose*.yml
.dockerignore